@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #F59E0B;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;

}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px; /*Coming from user style sheet - Overwridden to make nav and header-footer end to end */
}

hr{
    margin: 2rem 0rem;
}

/**Spaces**/

.margin-md{
    margin: 2rem;
}


/* Containers */

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.container-center-blog{
    max-width: 350px;
    margin: auto;
}

/* links */
.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-blog{
    text-decoration: none;
    padding: 0.2rem ;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

/* Header */

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-grey);
}

.hero .hero-heading .heading-inverted{
    color: var(--primary-color);
}

/* sections */

.section{
    padding: 2rem;
}

.section h2{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 2rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: larger;
}

.footer .link {
    color: white;
}

.footer ul{
     padding-inline-start: 0px; /*Overwritten margin coming from user style sheet (of browser) */
}

.para-center{
    
    margin-left: 50px;
    margin-right: 50px;
}

/*Blog*/

code {
    background-color: #eee;
    padding: 0 3px;
    font-family: consolas,"Liberation Mono",courier,monospace;
    border-left: 2px solid var(--primary-color);
}

.space{
    padding: 0.1px;
}